<div class="launcher-icon">
  <div class="dots-icon" title="App Launcher">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
  </div>
</div>
<div class="center-top-nav-container">
  <div class="to-do">
    <p>To Do</p>
  </div>
  <app-search-bar></app-search-bar>
  <div class="icon-right">
    <a routerLink="/settings"><i class="fa fa-cog" title="Settings"></i></a>
    <a routerLink="/help"><i class="fa fa-question" title="Help & feedback"></i></a>
    <a routerLink="/announcement"><i class="fa fa-bullhorn" title="What's new"></i></a>
  </div>
</div>
<div class="login" title="Account Manager">
  <a routerLink="/profile"><i class='fa fa-user-circle'></i></a>
</div>