<div class="dots-icon" title="App Launcher">
  <i class="fa fa-ellipsis-v"></i>
  <i class="fa fa-ellipsis-v"></i>
  <i class="fa fa-ellipsis-v"></i>
</div>
<div class="center-top-nav-container">
  <div class="to-do">
    <p>To Do</p>
  </div>
  <app-search-bar></app-search-bar>
  <div class="icon-right">
    <i class="fa fa-cog" title="Settings"></i>
    <i class="fa fa-question" title="Help & feedback"></i>
    <i class="fa fa-bullhorn" title="What's new"></i>
  </div>
</div>
<div class="login" title="Account Manager">
  <i class='fa fa-user-circle'></i>
</div>