<!---------------------------- BOTTOM LEFT CONTAINER ------------------------------->
<div class={{commonService.leftContainer}}>
  <app-bottom-left-bar (selectedCategory)="getCategory($event)"></app-bottom-left-bar>
</div>

<!---------------------------- CENTER CONTAINER ------------------------------->
<div class={{commonService.centerContainer}}>
  <app-bottom-center-bar [categoryName]="categoryName" [categoryIcon]="categoryIcon" (selectedTask)="getSelectedTask($event)"></app-bottom-center-bar>
</div>

<!---------------------------- RIGHT CONTAINER ------------------------------->
<div class={{commonService.rightContainer}}   >
  <app-bottom-right-bar [selectedTask]="selectedTask"></app-bottom-right-bar>
</div>