<!---------------------------- BOTTOM LEFT CONTAINER ------------------------------->
<div class="left-container" [class.hide-block] = "isVisitedItem" [class.left-container] = "isFullScreenItem">
  <app-bottom-left-bar (selectedCategory)="getCategory($event)" (isVisitedItem)='hideBar($event)'></app-bottom-left-bar>
</div>

<!---------------------------- CENTER CONTAINER ------------------------------->
<div class="center-container" id="center-container" [class.full-screen-view] = "isVisitedItem" [class.center-container] = "isFullScreenItem">
  <!-- [ngClass] = "hideBar() ? 'full-screen-view' : 'left-container'" -->
  <app-bottom-center-bar [categoryName]="categoryName" [categoryIcon]="categoryIcon" (isFullScreenItem)='showDefaultScreen($event)'></app-bottom-center-bar>
</div>

<!---------------------------- RIGHT CONTAINER ------------------------------->
<div class="right-container" id="right-container">
  <app-bottom-right-bar></app-bottom-right-bar>
</div>