<div class="left">
  <div class="bar">
    <button id="bar" (click)=toggleContent()><i class="fa fa-bars"></i></button>
  </div>
  <div class="default content">
    <app-category-list [menu]="CategoryMenu" (onSelected)="onSelected($event)" [selectedCategoryName]="selectedCategoryName"></app-category-list>
  </div>
  <div class="new">
    <!-- <form #addTodo="ngForm" (submit)="onSubmit()"> -->
      <div class="new-list" id="new-list"><i class="fa fa-plus"></i>
        <input type="text" name="todo" class="form-control" id="add" placeholder="New list" (keypress)="addNewCategoryMenu($event)" required>
        <!-- <input [(ngModel)] = "newCategory" id="add" type="text" placeholder="New list"> -->
      </div>
      <div class="square"><i class="fa fa-plus-square"></i></div>
    <!-- </form> -->
  </div>
</div>
<div class="left-bottom">
  <div><i class="fa fa-envelope" title="Mail"></i></div>
  <div><i class="fa fa-calendar-o" title="Calendar"></i></div>
  <div><i class="fa-solid fa-user-group" title="People"></i></div>
  <div><i class="fa fa-paperclip" title="Files"></i></div>
  <div class="check"><i class="fa fa-check" title="To Do"></i></div>
</div>