@import '../../color.scss';

/*---------------------------- BOTTOM CONTAINER -------------------------------*/
.container .bottom-nav-container {
  width: 100%;
  //display: none;

  div {
    display: inline-block;
    vertical-align: top;
  }


  /*---------------------------- LEFT CONTAINER -------------------------------*/

  .left-container,
  .hide-left-container {
    background-color: $seconday-color;
    height: 35rem;
    width: 18.2rem;
    font-size: 14px;

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background: #e7e6e5;
      border-radius: 10px;
    }

    .left {
      line-height: 4rem;

      .bar {
        padding-left: 18px;
        height: 67px;

        i {
          margin-top: 2rem;
        }

        button {
          border: none;
          background-color: $seconday-color;
        }
      }

      .content {
        overflow-y: auto;

        .top li {
          &:hover {
            background-color: $primary-color1;
            width: 15.707rem;
          }
        }

        .top li.selected {
          border-left: 2px;
          border-left-style: solid;
          border-color: $primary-color;
          background-color: $seconday-color1;
          font-weight: 600;
        }

        .line {
          margin: 9px 16px;
          height: 1px;
          background-color: $tertiary-color;
          list-style-type: none;
          pointer-events: none;
        }

        .top-side-bar {
          background-color: $quaternary-color;
          border-left: "2px solid";
          border-left-color: $primary-color;
          font-weight: "600";
          padding-left: "26px";
        }
      }

      .new {
        width: 100%;
        color: $primary-color;

        i {
          color: $primary-color;
        }

        div {
          display: inline-block;
        }

        .new-list {
          width: 50%;
          padding-left: 1.8rem;

          #add {
            width: 74%;
            border: none;
            outline: none;
          }
        }

        .square {
          text-align: right;
          width: 28%;
        }
      }
    }

    ul {
      line-height: 3.1;
      width: 17.5rem;
      max-height: 25rem;

      li {
        list-style-type: none;
        padding-left: 1.7rem;
        cursor: pointer;

        div:hover {
          background-color: $primary-color2;
        }
      }
    }

    i {
      color: $seconday-color2;
      width: 2.1rem;
    }

    .left-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 15px 15px 15px 0px;
      text-align: center;

      i {
        width: 3.5rem;

        &:hover {
          background-color: $primary-color2;
        }
      }

      .check i {
        color: $primary-color;
      }
    }
  }

  .hide-left-container {
    display: none;
  }

}

.container .bottom-nav-container .left-container .hide-block {
  display: none;
}