<div class="middle-content1" *ngFor="let item of taskList" (click)="getSelectedTask(item)">
  <div class="circle">
    <!-- <i class={{item.circleIcon}} (mouseover)="item.circleIcon = 'fa fa-check-circle-o'" (mouseout)="item.circleIcon = 'fa fa-circle-thin'" (click)="completedTask(item)"></i> -->
    <i [ngClass]="item.isCompleted ? 'fa-solid fa-circle-check': 'fa-regular fa-circle'" (mouseover)="commonService.mouseOverFunction($event)" (mouseout)="commonService.mouseOutFunction($event)" (click)="commonService.completedTask(item)"></i>
  </div>
  <div class="task" (click)=toggleContent()>
    <p class="new" [class.striked-task]="item.isCompleted">{{item.name}}</p>
    <p class="period">{{item.subName}}</p>
  </div>
  <div class="star">
    <!-- <i class={{item.starIcon}} (click)="clickToImportant($event)"></i> -->
    <i [ngClass]="item.isImportant ? 'fa fa-star' : 'fa fa-star-o'" (click)="commonService.clickToImportant($event, item)"></i>
  </div>
</div>