<div class="container">
  <!---------------------------- TOP NAV CONTAINER ------------------------------->
  <div class="top-nav-container">
    <app-nav-bar-component></app-nav-bar-component>
  </div>

  <!------------------------------- BOTTOM CONTAINER ---------------------------------->
  <div class="bottom-nav-container">
    <!---------------------------- BOTTOM LEFT CONTAINER ------------------------------->
    <div class="left-container">
      <app-bottom-left-bar-component></app-bottom-left-bar-component>
    </div>

    <!---------------------------- CENTER CONTAINER ------------------------------->
    <div class="center-container" id="center-container">
      <app-bottom-center-bar-component></app-bottom-center-bar-component>
    </div>

    <!---------------------------- RIGHT CONTAINER ------------------------------->
    <div class="right-container" id="right-container">
      <app-bottom-right-bar-component></app-bottom-right-bar-component>
    </div>

  </div>