@import "./global-component/nav-bar/nav-bar.component.scss";
@import "./bottom-component/bottom-left-bar/bottom-left-bar.component.scss";
@import "./bottom-component/bottom-center-bar/bottom-center-bar.component.scss";
@import "./bottom-component/bottom-right-bar/bottom-right-bar.component.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

i:hover,
button:hover {
  cursor: pointer;
}