@import "./global-component/nav-bar/nav-bar.component.scss";
@import "./category-task-component/category/category.component.scss";
@import "./category-task-component/task-list/task-list.component.scss";
@import "./category-task-component/task-details/task-details.component.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

i:hover,
button:hover {
  cursor: pointer;
}

#loading-spinner {
  color: white;
}