$primary-color: #2564cf;
$seconday-color: #fff;

$primary-color1 : #f3f0ef;
$seconday-color1 : #EBF7FC;
$tertiary-color : #e7e6e5;
$quaternary-color: #ecf6fd;

$primary-color2 : #faf9f8;
$seconday-color2 : #000;