<div class="content-one">
  <div class="top-content">
    <div class="top-content-left">
      <ul [ngClass]="categoryName === 'Assigned to me' ? 'changeGreenColor' : 'changeBlueColor'">
        <i class={{categoryIcon}} id="sun"></i>
        <li class="myDay" id="myDay">{{categoryName}}<i class="fa fa-ellipsis-h"></i></li>
      </ul>
    </div>
    <div class="top-content-right">
      <div class="sort" title="Sort">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>Sort
      </div>

      <div class="suggestion" title="Suggestion" id="suggestion">
        <i class="fa-regular fa-lightbulb"></i>Suggestions
      </div>
    </div>
  </div>
  <div class="period">
    <p id="period">{{currentDate | date:'EEEE, MMMM dd'}}</p>
  </div>
</div>

<div class="center">
  <div class="content-two" id="content-two">
    <div class="middle-content">
      <div class="circle">
        <i class="fa fa-circle-thin"></i>
      </div>
      <div class="addTask" id="addTask">
        <input class="add-task-input" id="addCategory" type="text" placeholder="Add a Task" (keypress)="addNewTask($event)">
      </div>
    </div>
    <div class="middle-content-one">
      <div class="new-one">
        <div><i class="fa fa-calendar-o"></i></div>
        <div><i class="fa fa-bell-o"></i></div>
        <div><i class="fa-solid fa-repeat"></i></div>
      </div>
      <div class="new-two">
        <button class="addBtn">Add</button>
      </div>
    </div>
  </div>

  <div class="content-three" id="content-three">
    <!-- [tasks]="TASKS" -->
    <app-center-task [taskList]="TASKS"></app-center-task>
  </div>

  <div class="completed-title-container" id="completed-title-container">
    <i class="fa fa-angle-right"></i>
    <p class="completed-title">Completed</p>
  </div>

  <ul class="completed items" id="completed-items">
    <app-center-task [task]="TASKS"></app-center-task>
  </ul>

</div>