<div class="section task-title" id="task-title-section">
  <div class="section-icon">
    <i [ngClass]="selectedTask.isCompleted ? 'fa-solid fa-circle-check': 'fa-regular fa-circle'"
      (mouseover)="taskService.mouseOverFunction($event)" (mouseout)="taskService.mouseOutFunction($event)"
      (click)="taskService.completedTask(selectedTask)"></i>
  </div>
  <div class="section-name" id="title-content" [class.strike-task]="selectedTask.isCompleted">
    {{selectedTask.name}}
  </div>
  <div class="section-icon">
    <i [ngClass]="selectedTask.isImportant ? 'fa fa-star' : 'fa fa-star-o'"
      (click)="taskService.clickToImportant(selectedTask)"></i>
  </div>
</div>

<div class="middle-sections">
  <div class="section">
    <div class="section-icon">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="section-name">
      Add step
    </div>
  </div>

  <div class="section">
    <div class="section-icon">
      <i class="fa-regular fa-sun"></i>
    </div>
    <div class="section-name">Added to My Day</div>
  </div>

  <div class="conditions-section">
    <div class="section">
      <div class="section-icon">
        <i class="fa-regular fa-bell"></i>
      </div>
      <div class="section-name">Remind me</div>
    </div>
    <div class="section">
      <div class="section-icon">
        <i class="left-bottom-icon fa-regular fa-calendar-days"></i>
      </div>
      <div class="section-name">Add due date</div>
    </div>
    <div class="section">
      <div class="section-icon">
        <i class="fa-solid fa-repeat"></i>
      </div>
      <div class="section-name">Repeat</div>
    </div>
  </div>

  <div class="section">
    <div class="section-icon">
      <i class="fa-solid fa-tag"></i>
    </div>
    <div class="section-name">Pick a category</div>
  </div>

  <div class="section">
    <div class="section-icon">
      <i class="fa-solid fa-paperclip"></i>
    </div>
    <div class="section-name">Add file</div>
  </div>

  <div class="section">
    <textarea name="note" id="note" [(ngModel)]="note" class="note-input" placeholder="Add note" (keypress)="addNotes()" value={{selectedTask.note}}></textarea>
  </div>
</div>

<li class="line"></li>

<div class="bottom-section">
  <div class="section-icon">
    <i class="fa-solid fa-right-from-bracket" id="exit-icon" (click)="hideRightContainer()"></i>
  </div>
  <div class="section-name">
    <p>Created Today</p>
  </div>
  <div class="section-icon">
    <i class="fa-solid fa-trash"></i>
  </div>
</div>