<div class="content-one">
  <div class="top-content">
    <div [ngClass]="taskService.applyClass == constant.CENTER_SCREEN? 'top-content-center':'top-content-left'">
      <ul [ngClass]="changeTitleColorBasedOnCategory()">
        <i [ngClass]="taskService.viewLeftContainer? selectedCategory.icon:'fa-solid fa-bars'" id="sun" (click)="toggleContent()"></i>
        <li class="myDay" id="myDay">{{categoryName}}<i class="fa fa-ellipsis-h"></i></li>
      </ul>
    </div>
    <div [ngClass]="taskService.applyClass == constant.CENTER_SCREEN? 'top-content-center-right':'top-content-right'">
      <div [ngClass]="taskService.applyClass == constant.CENTER_SCREEN? 'center-sort':'sort'" title="Sort">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>Sort
      </div>

      <div class="suggestion" title="Suggestion" id="suggestion">
        <i class="fa-regular fa-lightbulb"></i>Suggestions
      </div>
    </div>
  </div>
  <div [ngClass]="showPeriod()? 'period' : 'hide-period'">
    <p id="period">{{currentDate | date:'EEEE, MMMM d'}}</p>
  </div>
</div>

<div class="center">
  <div id="content-two" [ngClass]="showTaskContent()? 'hide-center-content': 'content-two'">
    <div [ngClass]="taskService.applyClass == constant.CENTER_SCREEN? 'middle-content-center':'middle-content'">
      <div class="circle">
        <i class="fa fa-circle-thin"></i>
      </div>
      <div class="addTask" id="addTask">
        <input [(ngModel)] = "taskName" class="add-task-input" id="addCategory" type="text" placeholder="Add a Task" (keydown.enter)="addNewTask()">
      </div>
    </div>
    <div class="middle-content-one">
      <div [ngClass]="taskService.applyClass == constant.CENTER_SCREEN? 'new-one-center':'new-one'">
        <div><i class="fa fa-calendar-o"></i></div>
        <div><i class="fa fa-bell-o"></i></div>
        <div><i class="fa-solid fa-repeat"></i></div>
      </div>
      <div class="new-two">
        <button class="addBtn" (click)="addNewTask()">Add</button>
      </div>
    </div>
  </div>

  <div id="content-three" [ngClass]="showAssignedToMe()? 'showAssignedToMe' : 'content-three'">
    <app-center-task [taskList]="pendingTasks"></app-center-task>

    <div [ngClass]="completedTasks.length > 0 ? 'completed': 'completed-hide'" (click)="showAndHideCompletedTask()">
      <i [ngClass]="hideCompletedTask ? showAssignedToMe()? 'hide' : 'fa-solid fa-angle-right' : 'fa-solid fa-angle-down'"></i>
      <div [ngClass]="showAssignedToMe()? 'hide' : 'hide'">Completed</div>
    </div>
    <div class="completed-task-hide" [class.completed-task-hide]=hideCompletedTask>
      <app-center-task [taskList]="completedTasks"></app-center-task>
    </div>
  </div>
  
  <div [ngClass]="showAssignedToMe()? 'showAssignedToMe' : 'hide'">
    <img src="../../../assets/images/assignedToMe.jpeg" id="assignedToMeImage">
    <p id="assignedToMeContent">Tasks assigned to you in To Do or Planner show up here</p>
  </div>

</div>